.Toggle-button {
  border-width: 1px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  // background-image: url("../../assets/person/image.png");
  // z-index: 3000;
}

#search {
  background-color: rgb(50, 86, 205);
}

#favorite {
  background-color: rgb(161, 48, 48);
}

#search:hover {
  background-color: rgb(82, 112, 212);
}

#favorite:hover {
  background-color: rgb(163, 79, 79);
}

.toggled {
  background-color: rgb(255, 255, 255);
}
