.Sidebar {
  position: relative;
  left: 0px;
  width: 110px;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
  margin: 0;
  z-index: 4000;
}

.Sidebar__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Sidebar-search {
  max-width: 100%;
}
