.Category-item__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  //   opacity: 0.4;
}

.Category-item {
  opacity: 0.5;
}

.Category-item_checked {
  opacity: 1;
}

.Listbox {
  max-height: 410px;
  overflow: auto;
  margin: 20px 0;
}
